body {
    font-family: 'Arial', sans-serif;
    background: url('Imagen_de_fondo.webp') no-repeat center center fixed;
    background-size: cover;
}

.upload-container {
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.upload-btn {
    padding: 1em 2em;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
    transition: all 0.3s ease;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.upload-btn:hover, .upload-btn:focus {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.upload-btn:active {
    transform: scale(0.95);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

h1, p {
    color: #FFFFFF;
    text-align: center;
    margin: 0.5vw 0 2vw;
    font-size: 1.2vw;
}

.hidden {
    display: none;
}
